html {
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	font-family: Inter;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	overflow-y: hidden;
}

h1, h2, h3 {
	margin: 0;
	width: fit-content;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 5px;
}

.static_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 10px;
	color: #4d4d4d;
	font-size: 25px;
}


.chat_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.upload_container {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative; 
}

#upload_btn {
	padding: 14px 16px;
	border-radius: 25px;
	border: 1px solid #bfbfbf;
	background-color: #d9d9d9; 
	color: #4d4d4d;
	width: fit-content;
	font-size: 25px;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

#upload_btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

#upload_btn:not(:disabled):hover {
	background-color: #bfbfbf;
}

#progress_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	height: 142px;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: 0.4s max-height ease;
}

#progress_container.visible {
	max-height: fit-content;

}

.progress-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 4px 0;
}

.progress-wrapper {
    position: relative;
    flex: 1; /* Zaberie zvyšok miesta */
    height: 37px;
}

.progress_bg {
	position: absolute;
	top: 0;
	left: 0;
	border: 0.667px solid #bfbfbf;
	width: 100%;
	height: 37px;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 0;
	z-index: 1;
	background: transparent;
}

#progress_bar {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, #4CAF50, #8BC34A);
	width: 0%;
	height: 37px;
	box-sizing: border-box;
	border-radius: 15px;
	border-color: transparent;
	border-width: 1px;
	margin: 0;
	z-index: 0;
}

#progress_perc {
	min-width: 60px;
	text-align: right;
	display: inline-block;
	font-size: 28px;
	height: 35px;
    line-height: 35px;
    flex-shrink: 0;
}


#processed_file {
	width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
    flex-shrink: 0;
}

#progress_ws {
	width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 27px;
    margin-top: 5px;
    box-sizing: border-box;
    color: #666;
    flex-shrink: 0;
}


#chat {
	display: flex;
	flex-direction: column;
	position: relative;
	max-height: 0px;
	border: 0px solid #bfbfbf;
	border-radius: 20px;
	width: 50%;
	height: 0px;
	overflow: hidden; 
	box-sizing: border-box;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	transition: 0.4s max-height ease;
}

#chat.visible {
	height: 70vh;
	max-height: 70vh;
	border-width: 1px;
}


#controls {
	width: 100%;
	height: 40px;
	display: flex;
	flex-shrink: 0;
}

#message_area {
	width: 100%;
	border-width: 1px 0 0 0;
	border-bottom-left-radius: 7px;
	background-color: #f2f2f2;
	padding: 12px 0 0 10px;
}

#message_area:focus {
	outline: none;
}


#message_send_btn {
	border: 1px solid #bfbfbf;
	border-top-color: #767676;
	border-width: 1px 0 0 1px;
	border-bottom-right-radius: 6px;
	color: #4d4d4d;
}

#message_send_btn:hover {
	background-color: #cccccc;
}

/* msg container */
#msg_container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1;
	overflow-y: auto;
	box-sizing: border-box;
}

.message, .message.assistant {
	align-self: flex-end;
	padding: 10px 14px;
	background-color: lightblue;
	border: 1px solid #bfbfbf;
	border-radius: 15px;
	font-size: 18px;
}

.message.assistant {
	align-self: flex-start;
	background-color: lightcyan;
}